@media (max-width: 1200px) {
    .container{
        max-width: 95%;
    }
}

.header{
    @media (max-width: 1200px) {
        .container{
            max-width: 95%;
        }
    }

    @media (max-width: 540px) {
        // .check{
        //     display: block;
        //     width: 10px;
        // }

        // .nav__list__1{
        //     position: fixed;
        //     flex-direction: column;
        //     align-items: center;
        //     width: 100%;
        //     height: calc(100vh - 39px);
        // }
    }

    @media (max-width: 1145px){
        &__section__1{
            .search{
                input{
                    width: 675px;
                }
            }
        }
    }
    @media (max-width: 980px){
        &__section__1{
            .search{
                input{
                    width: 450px;
                }
            }
        }
        &__section__2{
            justify-content: center;
            gap: 20px;
        }
    }
    @media (max-width: 980px){
        &__section__1{
            .search{
                input{
                    width: 290px;
                }
            }
        }
    }
    @media (max-width: 580px){
        &__section__1{
            .search{
                input{
                    width: 220px;
                }
            }
        }
    }
    @media (max-width: 580px){
        &__section__1{
            .search{
                input{
                    width: 200px;
                }
            }
        }
    }
    @media (max-width: 440px){
        &__section__1{
            .search{
                input{
                    width: 100px;
                    padding-right: 10px;
                }
            }
        }
    }
    @media (max-width: 350px){
        &__section__1{
            a{
                img{
                    width: 75px;
                    height: auto;
                    margin-right: 10px;
                }
            }
            .search{
                input{
                    padding-left: 30px;
                }
            }
        }
    }
    @media (max-width: 520px){
        .left{
            gap: 50px;
        }
    }

    @media (max-width: 450px){
        .left{
            gap: 40px;
            .texts {
                h1{
                    font-size: 35px;
                }
                p{
                    font-size: 11px;
                }

                .btn{
                    padding: 11px 15px;
                    font-size: 8px;
                }
            }
        }
    }
    @media (max-width: 380px){
        .left{
            gap: 15px;
        }
    }
}

.main{
    @media (max-width:1052px) {
        .cards{
            justify-content: center;
            gap: 10px;
            flex-wrap: wrap;
        }
    }
}

.footer{
    @media (max-width: 842px) {
        &__content{
            flex-direction: column;
            align-items: center;
            .left{
                align-items: center;
            }
            .right{
                align-items: center;
                margin-top: 20px;
            }
        }
    }
    @media (max-width: 510px){
        &__content{
            .left{
                .columns{
                    justify-content: center;
                    flex-wrap: wrap;
                }
            }
            .right{
                &__footer{
                    justify-content: center;
                    flex-wrap: wrap;
                }
            }
        }
    }
}