footer.footer
    .footer__content.container 
        .left 
            h1.left__title НАВИГАЦИЯ
            .columns 
                .column 
                    p Кухни
                    p Спальни
                    p Гостинные
                .column 
                    p Кухни
                    p Спальни
                    p Гостинные
                .column 
                    p Кухни
                    p Спальни
                    p Гостинные
            .left__footer 
                p.active Акция
                p Новинки
        .right 
            h1.right__title LM
            p.location г. Анапа, Анапское шоссе, 30 Ж/К Черное море
            .right__footer 
                .right__footer__content 
                    img(src="../img/phone__2.png", alt="")
                    p 8 (964) 89 99 119
                .right__footer__content 
                    img(src="../img/insta.png", alt="")
                    p INSTAGRAM
                .right__footer__content 
                    img(src="../img/mail.png", alt="")
                    p mebel_loft_anapa@mail.ru
