header.header 
    nav.navbar
        .navbar__content.container 
            label(for="check").check
                i.bi.bi-list-ul
            input(type="checkbox")#check
            ul.nav__list__1
                li
                    a(href="#") Главная
                li
                    a(href="#") О нас
                li
                    a(href="#") Контакты
            ul.nav__list__2 
                li
                    a(href='#')
                        img(src='../img/phone.png', alt='')
                        |  8 (964) 89 99 119
                li
                    a(href='#')
                        img(src='../img/delivery-icon.png', alt='')
                        |  Доставка
    section.header__section__1.container 
        a(href="#") 
            img(src="../img/LOGO.png", alt="")
        .search 
            input(type="text" placeholder="Поиск")
            img(src="../img/search-icon.png", alt="")
        .btns 
            i.bi.bi-suit-heart
            i.bi.bi-app-indicator
            i.bi.bi-person
    section.header__section__2.container 
        a(href="#")
            img(src="../img/kitchen-icon.png")
            |  Кухни
        a(href="#")
            img(src="../img/bedroom-icon.png")
            |  Спальни
        a(href="#")
            img(src="../img/livingroom-icon.png")
            |  Гостинные
        a(href="#")
            img(src="../img/closet-icon.png")
            |  Прихожие
        a(href="#")
            img(src="../img/office-icon.png")
            |  Офисная мебель
        a(href="#")
            img(src="../img/childrensroom-icon.png")
            |  Детская
        a(href="#").active Акция
        a(href="#")
            img(src="../img/etc.png")
    section.header__section__3.container
        .left 
            .left__intro 
                <i class="bi bi-chevron-left"></i>
            .texts 
                h1 loft мебель
                p Современная и удобная мебель в Анапе
                a.btn(href="#") СМОТРЕТЬ КАТАЛОГ
        .right 
            <i class="bi bi-chevron-right"></i>
    