main.main.container
    h5.main__title Хиты продаж
    .cards 
        .card 
            .pics 
                img(src="../img/heart.png", alt="").heart
                img.pic(src="../img/chair.png", alt="")
            .texts 
                h1.texts__title Валенсия Beige
                p.texts__text Барные стулья
                p.texts__price 2 300₽
                p.texts__size Размеры
                .size 
                    .width__deep__height 
                        p.width__text__1 ШИРИНА
                        p.width__text__2 43 СМ
                    p.x ×
                    .width__deep__height 
                        p.width__text__1 ШИРИНА
                        p.width__text__2 43 СМ
                    p.x ×
                    .width__deep__height 
                        p.width__text__1 ШИРИНА
                        p.width__text__2 43 СМ
                button.add__to__card Добавить в корзину
        .card 
            .pics 
                img(src="../img/heart.png", alt="").heart
                img.pic(src="../img/chair.png", alt="")
            .texts 
                h1.texts__title Валенсия Beige
                p.texts__text Барные стулья
                p.texts__price 2 300₽
                p.texts__size Размеры
                .size 
                    .width__deep__height 
                        p.width__text__1 ШИРИНА
                        p.width__text__2 43 СМ
                    p.x ×
                    .width__deep__height 
                        p.width__text__1 ШИРИНА
                        p.width__text__2 43 СМ
                    p.x ×
                    .width__deep__height 
                        p.width__text__1 ШИРИНА
                        p.width__text__2 43 СМ
                button.add__to__card Добавить в корзину
        .card 
            .pics 
                img(src="../img/heart.png", alt="").heart
                img.pic(src="../img/chair.png", alt="")
            .texts 
                h1.texts__title Валенсия Beige
                p.texts__text Барные стулья
                p.texts__price 2 300₽
                p.texts__size Размеры
                .size 
                    .width__deep__height 
                        p.width__text__1 ШИРИНА
                        p.width__text__2 43 СМ
                    p.x ×
                    .width__deep__height 
                        p.width__text__1 ШИРИНА
                        p.width__text__2 43 СМ
                    p.x ×
                    .width__deep__height 
                        p.width__text__1 ШИРИНА
                        p.width__text__2 43 СМ
                button.add__to__card Добавить в корзину
        .card 
            .pics 
                img(src="../img/heart.png", alt="").heart
                img.pic(src="../img/chair.png", alt="")
            .texts 
                h1.texts__title Валенсия Beige
                p.texts__text Барные стулья
                p.texts__price 2 300₽
                p.texts__size Размеры
                .size 
                    .width__deep__height 
                        p.width__text__1 ШИРИНА
                        p.width__text__2 43 СМ
                    p.x ×
                    .width__deep__height 
                        p.width__text__1 ШИРИНА
                        p.width__text__2 43 СМ
                    p.x ×
                    .width__deep__height 
                        p.width__text__1 ШИРИНА
                        p.width__text__2 43 СМ
                button.add__to__card Добавить в корзину
        .card 
            .pics 
                img(src="../img/heart.png", alt="").heart
                img.pic(src="../img/chair.png", alt="")
            .texts 
                h1.texts__title Валенсия Beige
                p.texts__text Барные стулья
                p.texts__price 2 300₽
                p.texts__size Размеры
                .size 
                    .width__deep__height 
                        p.width__text__1 ШИРИНА
                        p.width__text__2 43 СМ
                    p.x ×
                    .width__deep__height 
                        p.width__text__1 ШИРИНА
                        p.width__text__2 43 СМ
                    p.x ×
                    .width__deep__height 
                        p.width__text__1 ШИРИНА
                        p.width__text__2 43 СМ
                button.add__to__card Добавить в корзину
        .card 
            .pics 
                img(src="../img/heart.png", alt="").heart
                img.pic(src="../img/chair.png", alt="")
            .texts 
                h1.texts__title Валенсия Beige
                p.texts__text Барные стулья
                p.texts__price 2 300₽
                p.texts__size Размеры
                .size 
                    .width__deep__height 
                        p.width__text__1 ШИРИНА
                        p.width__text__2 43 СМ
                    p.x ×
                    .width__deep__height 
                        p.width__text__1 ШИРИНА
                        p.width__text__2 43 СМ
                    p.x ×
                    .width__deep__height 
                        p.width__text__1 ШИРИНА
                        p.width__text__2 43 СМ
                button.add__to__card Добавить в корзину
        .card 
            .pics 
                img(src="../img/heart.png", alt="").heart
                img.pic(src="../img/chair.png", alt="")
            .texts 
                h1.texts__title Валенсия Beige
                p.texts__text Барные стулья
                p.texts__price 2 300₽
                p.texts__size Размеры
                .size 
                    .width__deep__height 
                        p.width__text__1 ШИРИНА
                        p.width__text__2 43 СМ
                    p.x ×
                    .width__deep__height 
                        p.width__text__1 ШИРИНА
                        p.width__text__2 43 СМ
                    p.x ×
                    .width__deep__height 
                        p.width__text__1 ШИРИНА
                        p.width__text__2 43 СМ
                button.add__to__card Добавить в корзину
        .card 
            .pics 
                img(src="../img/heart.png", alt="").heart
                img.pic(src="../img/chair.png", alt="")
            .texts 
                h1.texts__title Валенсия Beige
                p.texts__text Барные стулья
                p.texts__price 2 300₽
                p.texts__size Размеры
                .size 
                    .width__deep__height 
                        p.width__text__1 ШИРИНА
                        p.width__text__2 43 СМ
                    p.x ×
                    .width__deep__height 
                        p.width__text__1 ШИРИНА
                        p.width__text__2 43 СМ
                    p.x ×
                    .width__deep__height 
                        p.width__text__1 ШИРИНА
                        p.width__text__2 43 СМ
                button.add__to__card Добавить в корзину